stages:
  - build
  - deploy

variables:
  NODE_ENV: production
  NODE_VERSION: "20"

cache:
  paths:
    - node_modules/

build_project:
  image: node:${NODE_VERSION}-alpine
  stage: build
  script:
    - npm ci --include=dev
    - npm run build
  artifacts:
    paths:
      - .next
      - node_modules
    expire_in: 1h

deploy:
  stage: deploy
  script:
    - npm install -g vercel
    - vercel --prod --token=$VERCEL_TOKEN --confirm --scope $VERCEL_ORG_ID --project $VERCEL_PROJECT_ID
  only:
    - main
    - dev
  
